# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Dados utilizados pela aplicação
raw_data/

# Índices gerados automaticamente
indices/

# Arquivos do sistema
.DS_Store
Thumbs.db
